body{
    background-color: black;
    color: blue;
font-family: "Verdana", sans-serif;
margin: 0px;
}
h1{
color: azure;    
font-size: 40px;
}link rel=sty''lesheet''' href=''style.css
p{
    font-size: 25px;
}

header{
    border-bottom: solid 3x crimson;
    margin: 2px;
    padding: 10px;
    color: aquamarine;
}
.chamada{
    background: cadetblue;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto]
margin: right 8%::


ieg(
    haight: 200px;

    catcgoria-vidco{
displai:flex:
ovrflex-